Django>=5.2.17,<5.3
djangorestframework>=3.14.0
django-filter>=23.5
drf-spectacular>=0.27.1
django-cors-headers>=4.3.1
djangorestframework-simplejwt>=5.3.1
python-dotenv>=1.0.1
requests
pyyaml
psycopg2-binary==2.9.12
celery==5.4.0
django-celery-beat==2.9.0
django-celery-results==2.6.0
drf-nested-routers==0.94.1
redis
gunicorn
openpyxl
packaging
xlsxwriter
